<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609632140395-aejao0ptkgf06m3e6s9ogti5k9bl0t1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609632140395-aejao0ptkgf06m3e6s9ogti5k9bl0t1s</string>
	<key>API_KEY</key>
	<string>AIzaSyAkVFkjG7FIYoTBSA3wm-HJZJbae_3XJjw</string>
	<key>GCM_SENDER_ID</key>
	<string>609632140395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mokpyohanbang.objectiveoneshot</string>
	<key>PROJECT_ID</key>
	<string>hsp6-335a4</string>
	<key>STORAGE_BUCKET</key>
	<string>hsp6-335a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609632140395:ios:9a91f40ab5b119907f852e</string>
</dict>
</plist>